---
---

@import "{{ site.theme }}";

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
	-webkit-appearance: none; 
	margin: 0; 
}

input[type=number] {
  -moz-appearance: textfield;
}

.page-header{
	z-index: 2;
}

.side{
	height: 100%;
	width: 160px; 
	position: fixed;
	top: 0; 
	left: 0;
	background-image: linear-gradient(120deg, #155799, #159957);
	overflow-x: hidden;
	padding-top: 300px;
}

.sidelink{
    color: white;
    text-decoration: none;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
	line-height: 1.5;
	padding-left: 15px;
}

@media screen and (max-height: 450px){
	.side{
		visibility: hidden;
	}
}

.footer{
	padding-top: 25px;
}